<launch>
    <node  pkg="ros_confapp" type="astar" name="astar_feature" />
    <node  pkg="ros_confapp" type="infrared" name="infrared_feature" />
    <node  pkg="ros_confapp" type="bluetooth" name="bluetooth_feature" />
    <node  pkg="ros_confapp" type="cloudaccess" name="cloudaccess_feature" />
    <node  pkg="ros_confapp" type="pathplanning" name="pathplanning_feature" />
    <node  pkg="ros_confapp" type="slam" name="slam" output="screen"/>
    <node  pkg="ros_confapp" type="kmean" name="kmean_feature" />
    <node  pkg="ros_confapp" type="circfit" name="circfit_feature" output="screen"/>
    <node  pkg="ros_confapp" name="params" type="params" output="screen" />
</launch>